div * {
    background-color: hsl(240, 20%, 20%);
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

body {
    flex-flow: row nowrap;
    display: flex;
}

body * {
    display: flex;
}

svg {
    flex: 1 1 auto;
    padding: 0;
}

div {
    flex: 1 1 auto;
    background-color: transparent; 
    padding: 0;
    display: grid;
    grid: auto / auto auto auto auto;
}